#manipula {
    text-align: center;
    height:50px;
    line-height:50px;
    color: black;
    font-size:15pt;
    background-color: gray;
    margin-bottom:10px;
}

h2 {
    text-align: center;
    margin: 30px;
}

input, select{
    margin-left: 45em;
    width: 150px;
    font-family: arial;
}

p {
    margin-left: 43em;
    font-family: arial;
    font-size: 14px;
}