USE [ConexaoVagas]
GO
/****** Object:  Database [ConexaoVagas]    Script Date: 15/09/2020 16:17:24 ******/
CREATE DATABASE [ConexaoVagas]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConexaoVagas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConexaoVagas]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficio]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficio](
	[IdBeneficio] [int] IDENTITY(1,1) NOT NULL,
	[IdCriadoPor] [int] NULL,
	[NomeBeneficio] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Benefici__14B7CA0C4D6B1A08] PRIMARY KEY CLUSTERED 
(
	[IdBeneficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeneficioVaga]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeneficioVaga](
	[IdBeneficioVaga] [int] IDENTITY(1,1) NOT NULL,
	[IdBeneficio] [int] NOT NULL,
	[IdVaga] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBeneficioVaga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidato](
	[IdUsuario] [int] NOT NULL,
	[IdStatusUsuario] [int] NOT NULL,
	[Curso] [varchar](255) NULL,
	[Matricula] [varchar](255) NOT NULL,
	[Cpf] [varchar](255) NOT NULL,
	[Rg] [varchar](255) NOT NULL,
	[Cep] [varchar](255) NOT NULL,
	[EnderecoCandidato] [varchar](255) NOT NULL,
	[NumeroEndereco] [int] NOT NULL,
	[TelefoneCandidato] [varchar](255) NOT NULL,
	[CelularCandidato] [varchar](255) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[Visualizacao] [int] NOT NULL,
 CONSTRAINT [PK__Candidat__D5598905F1707E7E] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidatura]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatura](
	[IdCandidatura] [int] IDENTITY(1,1) NOT NULL,
	[IdCandidato] [int] NOT NULL,
	[IdVaga] [int] NOT NULL,
	[Curriculo] [varchar](255) NULL,
	[Visualizado] [bit] NOT NULL,
	[DataCriado] [datetime] NOT NULL,
 CONSTRAINT [PK__Candidat__7B9E9EACAE85B9C4] PRIMARY KEY CLUSTERED 
(
	[IdCandidatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[IdUsuario] [int] NOT NULL,
	[IdStatusUsuario] [int] NOT NULL,
	[Foto] [varchar](255) NULL,
	[Cnae] [varchar](255) NOT NULL,
	[Cnpj] [varchar](255) NOT NULL,
	[RazaoSocial] [varchar](255) NOT NULL,
	[TelefoneEmpresa] [varchar](255) NOT NULL,
	[CelularEmpresa] [varchar](255) NOT NULL,
	[CEP] [varchar](255) NOT NULL,
	[Endereco] [varchar](255) NOT NULL,
	[Numero] [int] NOT NULL,
	[Visualizacao] [int] NOT NULL,
 CONSTRAINT [PK__Empresa__5EF4033EBB5814A4] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidade]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidade](
	[IdHabilidade] [int] IDENTITY(1,1) NOT NULL,
	[IdCriadoPor] [int] NULL,
	[NomeHabilidade] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Habilida__0DD4B30DBBE8726F] PRIMARY KEY CLUSTERED 
(
	[IdHabilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadeCandidato]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadeCandidato](
	[IdHabilidadeCandidato] [int] IDENTITY(1,1) NOT NULL,
	[IdHabilidade] [int] NOT NULL,
	[IdCandidato] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHabilidadeCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadeVaga]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadeVaga](
	[IdHabilidadeVaga] [int] IDENTITY(1,1) NOT NULL,
	[IdHabilidade] [int] NOT NULL,
	[IdVaga] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHabilidadeVaga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacao]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacao](
	[IdNotificacao] [int] IDENTITY(1,1) NOT NULL,
	[DataNotificacao] [datetime] NOT NULL,
	[Mensagem] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNotificacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusUsuario]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusUsuario](
	[IdStatusUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NomeStatus] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatusUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[IdTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoUsuario] [int] NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Senha] [varchar](255) NOT NULL,
	[DataCadastrado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaga]    Script Date: 15/09/2020 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaga](
	[IdVaga] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[Salario] [decimal](18, 0) NOT NULL,
	[Local] [varchar](255) NOT NULL,
	[Cep] [varchar](255) NOT NULL,
	[Qualificacao] [varchar](255) NOT NULL,
	[DataCriado] [datetime] NOT NULL,
	[DataExpiracao] [datetime] NOT NULL,
	[CargaHoraria] [int] NOT NULL,
	[Descricao] [varchar](1000) NOT NULL,
	[Visualizacao] [int] NOT NULL,
 CONSTRAINT [PK__Vaga__A848DC3EC534346C] PRIMARY KEY CLUSTERED 
(
	[IdVaga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administrador] ([IdUsuario]) VALUES (1)
SET IDENTITY_INSERT [dbo].[Beneficio] ON 

INSERT [dbo].[Beneficio] ([IdBeneficio], [IdCriadoPor], [NomeBeneficio]) VALUES (1, NULL, N'FGTS')
INSERT [dbo].[Beneficio] ([IdBeneficio], [IdCriadoPor], [NomeBeneficio]) VALUES (2, NULL, N'Vale-Transporte')
INSERT [dbo].[Beneficio] ([IdBeneficio], [IdCriadoPor], [NomeBeneficio]) VALUES (3, NULL, N'Férias')
SET IDENTITY_INSERT [dbo].[Beneficio] OFF
SET IDENTITY_INSERT [dbo].[BeneficioVaga] ON 

INSERT [dbo].[BeneficioVaga] ([IdBeneficioVaga], [IdBeneficio], [IdVaga]) VALUES (1, 1, 3)
INSERT [dbo].[BeneficioVaga] ([IdBeneficioVaga], [IdBeneficio], [IdVaga]) VALUES (2, 2, 3)
INSERT [dbo].[BeneficioVaga] ([IdBeneficioVaga], [IdBeneficio], [IdVaga]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[BeneficioVaga] OFF
INSERT [dbo].[Candidato] ([IdUsuario], [IdStatusUsuario], [Curso], [Matricula], [Cpf], [Rg], [Cep], [EnderecoCandidato], [NumeroEndereco], [TelefoneCandidato], [CelularCandidato], [DataNascimento], [Visualizacao]) VALUES (11, 1, N'string', N'string', N'string', N'string', N'string', N'string', 255, N'string', N'string', CAST(N'2020-09-14' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Candidatura] ON 

INSERT [dbo].[Candidatura] ([IdCandidatura], [IdCandidato], [IdVaga], [Curriculo], [Visualizado], [DataCriado]) VALUES (1, 11, 3, NULL, 0, CAST(N'2020-09-04T11:11:11.000' AS DateTime))
INSERT [dbo].[Candidatura] ([IdCandidatura], [IdCandidato], [IdVaga], [Curriculo], [Visualizado], [DataCriado]) VALUES (2, 11, 2, NULL, 1, CAST(N'2020-10-02T11:11:11.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Candidatura] OFF
INSERT [dbo].[Empresa] ([IdUsuario], [IdStatusUsuario], [Foto], [Cnae], [Cnpj], [RazaoSocial], [TelefoneEmpresa], [CelularEmpresa], [CEP], [Endereco], [Numero], [Visualizacao]) VALUES (2, 1, NULL, N'4525-5', N'988.652.655-40', N'Empresa Teste', N'5555-5555', N'95555-5555', N'55555-555', N'rua teste', 55, 40)
SET IDENTITY_INSERT [dbo].[Habilidade] ON 

INSERT [dbo].[Habilidade] ([IdHabilidade], [IdCriadoPor], [NomeHabilidade]) VALUES (1, NULL, N'.NET')
INSERT [dbo].[Habilidade] ([IdHabilidade], [IdCriadoPor], [NomeHabilidade]) VALUES (2, NULL, N'ABAP')
INSERT [dbo].[Habilidade] ([IdHabilidade], [IdCriadoPor], [NomeHabilidade]) VALUES (3, NULL, N'ABNF')
GO
SET IDENTITY_INSERT [dbo].[Habilidade] OFF
SET IDENTITY_INSERT [dbo].[HabilidadeCandidato] ON 

INSERT [dbo].[HabilidadeCandidato] ([IdHabilidadeCandidato], [IdHabilidade], [IdCandidato]) VALUES (1, 1, 11)
INSERT [dbo].[HabilidadeCandidato] ([IdHabilidadeCandidato], [IdHabilidade], [IdCandidato]) VALUES (2, 2, 11)
INSERT [dbo].[HabilidadeCandidato] ([IdHabilidadeCandidato], [IdHabilidade], [IdCandidato]) VALUES (3, 3, 11)
SET IDENTITY_INSERT [dbo].[HabilidadeCandidato] OFF
SET IDENTITY_INSERT [dbo].[HabilidadeVaga] ON 

INSERT [dbo].[HabilidadeVaga] ([IdHabilidadeVaga], [IdHabilidade], [IdVaga]) VALUES (1, 1, 3)
INSERT [dbo].[HabilidadeVaga] ([IdHabilidadeVaga], [IdHabilidade], [IdVaga]) VALUES (2, 2, 2)
INSERT [dbo].[HabilidadeVaga] ([IdHabilidadeVaga], [IdHabilidade], [IdVaga]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[HabilidadeVaga] OFF
SET IDENTITY_INSERT [dbo].[Notificacao] ON 

INSERT [dbo].[Notificacao] ([IdNotificacao], [DataNotificacao], [Mensagem]) VALUES (4, CAST(N'2020-09-02T13:33:45.000' AS DateTime), N'Marina se cadastrou.')
INSERT [dbo].[Notificacao] ([IdNotificacao], [DataNotificacao], [Mensagem]) VALUES (5, CAST(N'2020-09-01T13:35:00.000' AS DateTime), N'Instagram Ltda. criou uma vaga.')
SET IDENTITY_INSERT [dbo].[Notificacao] OFF
SET IDENTITY_INSERT [dbo].[StatusUsuario] ON 

INSERT [dbo].[StatusUsuario] ([IdStatusUsuario], [NomeStatus]) VALUES (1, N'Pendente')
INSERT [dbo].[StatusUsuario] ([IdStatusUsuario], [NomeStatus]) VALUES (2, N'Ativo')
INSERT [dbo].[StatusUsuario] ([IdStatusUsuario], [NomeStatus]) VALUES (3, N'Bloqueado')
SET IDENTITY_INSERT [dbo].[StatusUsuario] OFF
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([IdTipoUsuario], [Nome]) VALUES (1, N'Administrador')
INSERT [dbo].[TipoUsuario] ([IdTipoUsuario], [Nome]) VALUES (2, N'Empresa')
INSERT [dbo].[TipoUsuario] ([IdTipoUsuario], [Nome]) VALUES (3, N'Candidato')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [IdTipoUsuario], [Email], [Senha], [DataCadastrado]) VALUES (1, 1, N'administrador@gmail.com', N'123administrador', CAST(N'2018-09-04T12:11:13.000' AS DateTime))
INSERT [dbo].[Usuario] ([IdUsuario], [IdTipoUsuario], [Email], [Senha], [DataCadastrado]) VALUES (2, 2, N'empresateste@gmail.com', N'123empresa', CAST(N'2018-09-04T12:11:13.000' AS DateTime))
INSERT [dbo].[Usuario] ([IdUsuario], [IdTipoUsuario], [Email], [Senha], [DataCadastrado]) VALUES (11, 3, N'string', N'string', CAST(N'2020-09-14T23:25:24.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET IDENTITY_INSERT [dbo].[Vaga] ON 

INSERT [dbo].[Vaga] ([IdVaga], [IdEmpresa], [Titulo], [Salario], [Local], [Cep], [Qualificacao], [DataCriado], [DataExpiracao], [CargaHoraria], [Descricao], [Visualizacao]) VALUES (2, 2, N'Programador(a) Jr.', CAST(1001 AS Decimal(18, 0)), N'Rua José da Silva', N'11111-111', N'Desenvolvedor Web', CAST(N'2020-09-04T11:11:11.000' AS DateTime), CAST(N'2020-11-04T11:11:11.000' AS DateTime), 6, N'Venha fazer parte de nossa empresa, onde buscamos pessoas dedicadas e com vontade de aprender, trabalhe em um ambiente descontraído com possibilidade de crescimento profissional.', 124)
INSERT [dbo].[Vaga] ([IdVaga], [IdEmpresa], [Titulo], [Salario], [Local], [Cep], [Qualificacao], [DataCriado], [DataExpiracao], [CargaHoraria], [Descricao], [Visualizacao]) VALUES (3, 2, N'Analista de Sistemas', CAST(900 AS Decimal(18, 0)), N'Rua Antônio Bezerra', N'22222-222', N'Analista', CAST(N'2020-10-02T11:11:11.000' AS DateTime), CAST(N'2020-11-11T11:11:11.000' AS DateTime), 5, N'Estamos contratando pessoas que querem se desenvolver, que saiba trabalhar em grupo e tenha noções de alguma metodologia ágil.', 124)
SET IDENTITY_INSERT [dbo].[Vaga] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Beneficio]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Beneficio] ON [dbo].[Beneficio]
(
	[NomeBeneficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CPF]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CPF] ON [dbo].[Candidato]
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Matricula]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Matricula] ON [dbo].[Candidato]
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rg]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Rg] ON [dbo].[Candidato]
(
	[Rg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cnpj]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Cnpj] ON [dbo].[Empresa]
(
	[Cnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RazaoSocial]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_RazaoSocial] ON [dbo].[Empresa]
(
	[RazaoSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Habilida__206452FF4DEB5434]    Script Date: 15/09/2020 16:17:24 ******/
ALTER TABLE [dbo].[Habilidade] ADD  CONSTRAINT [UQ__Habilida__206452FF4DEB5434] UNIQUE NONCLUSTERED 
(
	[NomeHabilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Email]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Email] ON [dbo].[Usuario]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Senha]    Script Date: 15/09/2020 16:17:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Senha] ON [dbo].[Usuario]
(
	[Senha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD  CONSTRAINT [FK_Administrador_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Administrador] CHECK CONSTRAINT [FK_Administrador_Usuario]
GO
ALTER TABLE [dbo].[Beneficio]  WITH CHECK ADD  CONSTRAINT [FK_Beneficio_Usuario] FOREIGN KEY([IdCriadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Beneficio] CHECK CONSTRAINT [FK_Beneficio_Usuario]
GO
ALTER TABLE [dbo].[BeneficioVaga]  WITH CHECK ADD  CONSTRAINT [FK_BeneficioVaga_Beneficio] FOREIGN KEY([IdBeneficio])
REFERENCES [dbo].[Beneficio] ([IdBeneficio])
GO
ALTER TABLE [dbo].[BeneficioVaga] CHECK CONSTRAINT [FK_BeneficioVaga_Beneficio]
GO
ALTER TABLE [dbo].[BeneficioVaga]  WITH CHECK ADD  CONSTRAINT [FK_BeneficioVaga_Vaga] FOREIGN KEY([IdVaga])
REFERENCES [dbo].[Vaga] ([IdVaga])
GO
ALTER TABLE [dbo].[BeneficioVaga] CHECK CONSTRAINT [FK_BeneficioVaga_Vaga]
GO
ALTER TABLE [dbo].[Candidato]  WITH CHECK ADD  CONSTRAINT [FK_Candidato_StatusUsuario] FOREIGN KEY([IdStatusUsuario])
REFERENCES [dbo].[StatusUsuario] ([IdStatusUsuario])
GO
ALTER TABLE [dbo].[Candidato] CHECK CONSTRAINT [FK_Candidato_StatusUsuario]
GO
ALTER TABLE [dbo].[Candidato]  WITH CHECK ADD  CONSTRAINT [FK_Candidato_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Candidato] CHECK CONSTRAINT [FK_Candidato_Usuario]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Candidato] FOREIGN KEY([IdCandidato])
REFERENCES [dbo].[Candidato] ([IdUsuario])
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Candidato]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Vaga] FOREIGN KEY([IdVaga])
REFERENCES [dbo].[Vaga] ([IdVaga])
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Vaga]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_StatusUsuario] FOREIGN KEY([IdStatusUsuario])
REFERENCES [dbo].[StatusUsuario] ([IdStatusUsuario])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_StatusUsuario]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Usuario]
GO
ALTER TABLE [dbo].[Habilidade]  WITH CHECK ADD  CONSTRAINT [FK_Habilidade_Usuario] FOREIGN KEY([IdCriadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Habilidade] CHECK CONSTRAINT [FK_Habilidade_Usuario]
GO
ALTER TABLE [dbo].[HabilidadeCandidato]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadeCandidato_Candidato] FOREIGN KEY([IdCandidato])
REFERENCES [dbo].[Candidato] ([IdUsuario])
GO
ALTER TABLE [dbo].[HabilidadeCandidato] CHECK CONSTRAINT [FK_HabilidadeCandidato_Candidato]
GO
ALTER TABLE [dbo].[HabilidadeCandidato]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadeCandidato_Habilidade] FOREIGN KEY([IdHabilidade])
REFERENCES [dbo].[Habilidade] ([IdHabilidade])
GO
ALTER TABLE [dbo].[HabilidadeCandidato] CHECK CONSTRAINT [FK_HabilidadeCandidato_Habilidade]
GO
ALTER TABLE [dbo].[HabilidadeVaga]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadeVaga_Habilidade] FOREIGN KEY([IdHabilidade])
REFERENCES [dbo].[Habilidade] ([IdHabilidade])
GO
ALTER TABLE [dbo].[HabilidadeVaga] CHECK CONSTRAINT [FK_HabilidadeVaga_Habilidade]
GO
ALTER TABLE [dbo].[HabilidadeVaga]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadeVaga_Vaga] FOREIGN KEY([IdVaga])
REFERENCES [dbo].[Vaga] ([IdVaga])
GO
ALTER TABLE [dbo].[HabilidadeVaga] CHECK CONSTRAINT [FK_HabilidadeVaga_Vaga]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([IdTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([IdTipoUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
ALTER TABLE [dbo].[Vaga]  WITH CHECK ADD  CONSTRAINT [FK_Vaga_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdUsuario])
GO
ALTER TABLE [dbo].[Vaga] CHECK CONSTRAINT [FK_Vaga_Empresa]
GO
USE [master]
GO

SELECT * FROM Administrador;
SELECT * FROM Beneficio;
SELECT * FROM BeneficioVaga;
SELECT * FROM Candidato;
SELECT * FROM Candidatura;
SELECT * FROM Empresa;
SELECT * FROM Habilidade;
SELECT * FROM HabilidadeCandidato;
SELECT * FROM HabilidadeVaga;
SELECT * FROM Notificacao;
SELECT * FROM StatusUsuario;
SELECT * FROM TipoUsuario;
SELECT * FROM Usuario;
SELECT * FROM Vaga;