.conteudo {
    justify-content: space-between;
    align-items: center;
}

.conteudo2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.home{
    padding-top: 0.9em;
    padding-bottom: 2em;
}

h1{
    font-size: xx-large;
}

.texto1 > h2{
    padding-top: 0em;
    padding-bottom: 0.5em;
}

h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.texto1, .texto2, .texto3{
    font-weight: bolder;
}
