.inicio .header{
    padding-top: 25px;
    padding-bottom: 6px;
}

.titulo > h1{
    font-size: xx-large;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.main{
    padding-bottom: 2em;
}

.conteudo {
    justify-content: space-between;
    align-items: center;
}

.conteudo2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.texto1 > h2{
    padding-top: 0em;
    padding-bottom: 0.5em;
}

.texto1, .texto2, .texto3{
    font-weight: bolder;
}
