.imgFilmes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloFilme h1{
    padding-bottom: 0.5em;
}

.tituloLista h2{
    font-size: 22px;
    padding: 0;
}

table{
    margin: 10px 0px;
    padding-bottom: 4em;
    padding-right:35em;
}

th{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}

.tituloFinal{
    font-size: 18px;
    font-weight: bolder;
}

.final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

.btnFilmes{
    padding-top: 18px;
}